{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}{{block.super}}: Reset password{% endblock %}


{% block mid_content %}
  <div class='row-fluid'>
    <div class="col-md-8 col-md-offset-2">

        {% if validlink %}
          {% crispy form %}
        {% else %}
          <h1>Invalid reset link</h1>
          <p>
             The password reset link was invalid, possibly because it has
             already been used.  Please <a href="{%url 'user:password_reset' %}">request</a> a new password reset.
          </p>
        {% endif %}

    </div>
  </div>
{% endblock mid_content %}
